body {
    background: #060e1b;
    overflow: hidden;
}

canvas {
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.codrops-demos {
    font-size: 0.8em;
    text-align: center;
    position: absolute;
    z-index: 99;
    width: 96%;
}

.codrops-demos a {
    display: inline-block;
    margin: 0.35em 0.1em;
    padding: 0.5em 1.2em;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 2px;
    font-size: 110%;
    border: 2px solid transparent;
    /*color: #fff;*/
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
    border-color: #383a3c;
}

