/*滚动条样式*/

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/**dialog css */

.el-dialog:not(.is-fullscreen) {
    margin-top: 6vh !important;
}

.el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: #eaedf3;
}

.el-dialog__body {
    padding: 10px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}

.el-dialog__header {
    text-align: center;
    padding: 5px 20px 5px;
    background-color: #1268a5
}

.el-dialog__headerbtn .el-dialog__close {
    color: #edeff3;
}

.el-dialog__headerbtn {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
}

.el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: #e7eaef;
}

/**el-table **/

.el-table {

    .el-table__header-wrapper,
    .el-table__fixed-header-wrapper {
        th {
            word-break: break-word;
            background-color: #f8f8f9;
            color: #515a6e;
            height: 40px;
            font-size: 15px;
        }
    }

    .el-table__body-wrapper {
        .el-button [class*="el-icon-"]+span {
            margin-left: 1px;
        }
    }
}

/**label加粗 **/
label {
    font-weight: 700;
}