@import './variables.scss';
@import './common.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html,
body,
#app,
.app-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;//防止loading出现
    margin: 0;
    padding: 0;
}

//取消轮廓线
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}


.el-container {
  height: 100%;
}

