<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.example.system.domain.SysDept">
        <id property="deptId" column="dept_id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="ancestors" column="ancestors" jdbcType="VARCHAR"/>
        <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="leader" column="leader" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        dept_id
        ,parent_id,ancestors,
        dept_name,order_num,leader,
        phone,email,status,
        create_by,create_time
    </sql>

    <select id="selectDeptList" resultType="com.example.system.domain.SysDept">
        select * from sys_dept
        <where>
            <if test="deptId != null">
                AND dept_id = #{deptId}
            </if>
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="deptName != null and deptName != ''">
                AND dept_name like concat('%', #{deptName}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
    <select id="hasChildByDeptId" resultType="java.lang.Integer">
        select count(1) from sys_dept
        where parent_id = #{deptId} limit 1
    </select>
    <select id="checkDeptExistUser" resultType="java.lang.Integer">
        select count(1) from sys_user where dept_id = #{deptId}
    </select>

</mapper>
