<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.example.admin.domain.SysRole">
        <id property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
        <result property="projectId" column="project_id" jdbcType="VARCHAR"/>
        <result property="roleKey" column="role_key" jdbcType="VARCHAR"/>
        <result property="roleSort" column="role_sort" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id
        ,role_name,project_id,
        role_key,role_sort,status,
        create_by,create_time,remark
    </sql>
    <delete id="deleteRoleBatch">
        delete from sys_role where role_id in
        <foreach collection="list" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    <select id="getPageList" resultType="com.example.admin.domain.SysRole">
        select a.*, b.project_name
        from sys_role a
        left join sys_project b on a.project_id = b.project_id
        <where>
            a.project_id = #{e.projectId}
            <if test="e.roleName != null">
                and a.role_name like '%'+#{e.roleName}+'%'
            </if>
            <if test="e.roleKey != null">
                and a.role_key like '%'+#{e.roleKey}+'%'
            </if>
            <if test="e.status != null">
                and a.status = #{e.status}
            </if>
        </where>
        order by role_sort
    </select>
    <select id="getAuthUsers" resultType="com.example.admin.domain.SysUser">
        select distinct u.user_id, u.dept_id, u.username, u.telephone,u.sex, u.status, u.create_time
        from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where r.role_id = #{e.roleId}
        <if test="e.username != null and e.username != ''">
            AND u.username like concat('%', #{e.username}, '%')
        </if>
        <if test="e.telephone != null and e.telephone != ''">
            AND u.telephone like concat('%', #{e.telephone}, '%')
        </if>
    </select>
    <select id="getUnAuthUsers" resultType="com.example.admin.domain.SysUser">
        select distinct u.user_id, u.dept_id,u.username,u.telephone,u.sex, u.status, u.create_time
        from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on r.role_id = ur.role_id
        where r.role_id is null or r.role_id != #{e.roleId}
        <if test="e.username != null and e.username != ''">
            AND u.username like concat('%', #{e.username}, '%')
        </if>
        <if test="e.telephone != null and e.telephone != ''">
            AND u.telephone like concat('%', #{e.telephone}, '%')
        </if>
    </select>
    <select id="selectRoleList" resultType="com.example.admin.domain.SysRole">
        select a.*, b.project_name as projectName
        from sys_role a
                 left join sys_project b on a.project_id = b.project_id
    </select>

</mapper>
