<!DOCTYPE html><html>
<head>
    <meta charset="UTF-8">
    <base th:href="@{/}" />
    <title>统一认证中心</title>
    <link rel="stylesheet" href="./sa-res/login/login-bg.css">
    <link rel="stylesheet" href="./sa-res/login/login.css">
    <link rel="stylesheet" type="text/css" href="./sa-res/login/zui.css" media="all">
    <link href="./sa-res/login/animate.min.css" rel="stylesheet">
    <link href="./sa-res/login/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<canvas id="canvas"></canvas>
<div id="main-box"></div>
<div id="main-content">
    <div class="login-body  animated fadeInLeft">
        <div class="login-main pr">
            <form action="javascript:;" method="post" class="login-form">
                <h3> 统一认证中心 </h3>
                <h5 style="padding-bottom: 10px"> Unified Certification Center </h5>
                <!-- 账号登陆 -->
                <div class="item-box"  >
                    <div class="input-group user-name"> <span class="input-group-addon"><i class="icon-user"></i></span>
                        <input type="text" name="username" class="form-control" placeholder="用户名">
                    </div>
                    <div class="input-group password"> <span class="input-group-addon"><i class="icon-lock"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="密码">
                    </div>

                    <div class="input-group">
                        <img id="kaptcha_img" title="点击更换验证码" th:src="@{/kaptcha}" onclick="changeCode()" />
                        <input
                                class="form-kaptcha"
                                placeholder="请输入验证码"
                                type="text"
                                id="code"
                        >
                    </div>


                    <div class="login_btn_panel">
                        <button id="login-btn" class="btn btn-primary btn-block btn-lg" data-ajax="post"  data-callback="success">登录</button>
                        <div class="check-tips"></div>
                    </div>
            </form>
        </div>
    </div>
</div>
<!-- scripts -->
<script src="./sa-res/jquery.min.js"></script>
<script src="./sa-res/layer/layer.js"></script>
<script src="./sa-res/login/login-bg.js"></script>
<script src="./sa-res/login/login.js"></script>
<script src="./sa-res/login/code.js"></script>
</body>
</html>